body { 
    margin:0; 
    padding:0; 
}


#map { 
    position:absolute; 
    top:0; 
    bottom:0; 
    width:100%; 
}

#reset-zoom { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    background: #44a04c;    /* green */
    color: #000000; /* uo yellow */
    border: none; 
    padding: 10px; 
    border-radius: 5px; /* Rounded edges */
    cursor: pointer; }

#reset-zoom:hover { 
    background: #005f24;    /* Darker shade of green on hover */
    cursor: pointer; 
}


.mapboxgl-ctrl-compass {
    display: none !important; /* Use !important to ensure it overrides other styles */
}

.mapboxgl-ctrl {
    background-color: #44a04c;  /* green */
    border-radius: 5px; /* Rounded edges */
}




#filters {
  position: absolute;
  bottom: 25px;
  right: 10px;
  background: #44a04c;
  padding: 10px;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  font-family: sans-serif;
  font-size: 13px;
}

#filters label {
  margin-left: 4px;
}




